<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :endereco %>
    <%= f.input :foneResidencial %>
    <%= f.input :FoneCelular %>
    <%= f.input :Cpf %>
    <%= f.input :FotoCliente %>
    <%= f.input :email %>
    <%= f.input :DataNascimento %>
    <%= f.input :bairro %>
    <%= f.input :cidade %>
    <%= f.input :cep %>
    <%= f.input :estado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Cadastrar cliente"%>
  </div>
<% end %>
