<%= simple_form_for(@cliente ,:html => { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="span4">
     <%= f.input :nome, label: "Nome Completo: ", required: true, autofocus: true %>
     </div>
     <div class="span4" style="margin-left: 80px;">
    <%= f.input :cpf, label: "CPF", required: true, input_html: {id: 'cpf'}%>
    </div>
        <div class="span9">
    <%= f.input :dataNascimento, label: "Data Nascimento" %>
    </div>
    <div class="span4">
    <%= f.input :email, label: "Email", required: true  %>
    </div>

    <div class="span4"  style="margin-left: 80px;">
    <%= f.input :foneResidencial, label: "Telefone Residencial", input_html: { class: 'telefone'}%>
    </div>
    <div class="span4" >
    <%= f.input :foneCelular, label: "Telefone Celular" , input_html: { class: 'telefone'}%>
    </div>
    <div class="span4" style="margin-left: 80px;">
    <%= f.input :endereco, label: "Endereço" %>
    </div>
    <div class="span4" >
    <%= f.input :bairro, label: "Bairro"%>
    </div>
    <div class="span4"  style="margin-left: 80px;">
    <%= f.input :estado, :label => "Estado", :collection => ["AC","AL","AP","AM","BA","CE","DF","ES","GO","MA","MT","MS","MG","PA","PB","PR","PE","PI","RJ","RN","RS","RO","RR,","SC","SP","SE","TO"], :selected => "Escolha" %>
    </div>
    <div class="span4" >
    <%= f.input :cidade, label: "Cidade"%>
    </div>
    <div class="span4"  style="margin-left: 80px;">
    <%= f.input :cep, label: "CEP", input_html: {id: 'cep'}%>
    </div>
    <div class="span9">
    <%= f.button :submit, "Registrar", class: "btn btn-default"%>
    </div>

  </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <% end %>