<br>
<h2>Listando Clientes</h2>
<br>

<table class="table table-hover table-bordered" style="background: #ffffff">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone Celular</th>
      <th>CPF</th>
      <th>Email</th>
      <th>Cidade</th>
      <th colspan=3>Ações</th>

    </tr>
  </thead>
  

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.foneCelular %></td>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.cidade %></td>
        <td><%= link_to 'Mostrar', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <%if current_funcionario.tipo == "Administrador"%>
        <td>
        <%= link_to 'Apagar', cliente, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path, class: "relatoriogerar" %>
