<h1>Listando Clientes</h1>

<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereco</th>
      <th>Fone Residencial</th>
      <th>Fone Celular</th>
      <th>CPF</th>
      <th>Foto Cliente</th>
      <th>Email</th>
      <th>Data Nascimento</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>CEP</th>
      <th>Estado</th>
      <th colspan=3></th>

    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.endereco %></td>
        <td><%= cliente.foneResidencial %></td>
        <td><%= cliente.foneCelular %></td>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.fotoCliente %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.dataNascimento %></td>
        <td><%= cliente.bairro %></td>
        <td><%= cliente.cidade %></td>
        <td><%= cliente.cep %></td>
        <td><%= cliente.estado %></td>
        <td><%= link_to 'Mostrar', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Apagar', cliente, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
