<br>
<h2> Relatorio de Vendas: </h2>

<table width="100%" class="table table-hover table-bordered" style="background: #ffffff">
	<thead style="text-align: left;">
		<tr>
			<th> Codigo </th>
			<th> Funcionario </th>
			<th> Produtos </th>
			<th> Data </th>
			<th> Valor Total </th>
		</tr>
	</thead>
	<tbody>
<% @vendas.each do |v| %>
	<tr >
		<td style="vertical-align: top;"> <%= v.id %> </td>
		<td style="vertical-align: top;"> <%= Funcionario.find(v.funcionario_id).nome %> </td>
		<td> <% VendasProdutos.produtos(v.id).each do |p|%>
				<% produto = Produto.find(p.produto_id) %>
				<%= produto.modelo %> <br>	
			<% end %>
		</td>
		<td style="vertical-align: top;"> <%= v.data %></td>
		<td style="vertical-align: top;"> R$ <%= v.valorTotal %></td>
	</tr>
<% end %>
</tbody>
</table>

<%= link_to vendas_path(:format => "pdf") do %>
	<p class="relatoriogerar">
		Gerar Relatorio
	</p>
<% end %>