<div style="margin-top: 30px;">

    <%= image_tag(asset_path "logo.png", :alt => "") %>
</div>

<div id="wrapper">


<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="header">
		
		
		</div>

		<div class="content">
    <%= f.input :cpf, required: false, autofocus: true, :placeholder => "CPF", input_html: { class: 'input username' }, :label => false %>
    <div class="user-icon"></div>

    <%= f.input :password, required: false, input_html: { class: 'input username' }, :label => false, :placeholder => "Senha"%>
    		<div class="pass-icon"></div>		
		</div>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<div class="footer">
    <%= f.button :submit, "Entrar", class: 'button'%>

    </div>
<% end %>
</div>

