<h1>Listando Produtos</h1>

  <%= form_tag produtos_path, :method => 'get', :id => "produtos_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <% end %>


<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Preco Venda</th>
      <th>Preco Custo</th>
      <th>Quantidade Fisica</th>
      <th>Cor</th>
      <th>Tamanho</th>
      <th>Quantidade Estoque</th>
      <th>Fornecedor</th>
      <th>Marca</th>
      <th>Unidade</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.modelo %></td>
        <td><%= produto.precoVenda %></td>
        <td><%= produto.precoCusto %></td>
        <td><%= produto.quant_fisica %></td>
        <td><%= produto.cor %></td>
        <td><%= produto.tamanho %></td>
        <td><%= produto.quanti_estoque %></td>
        <td><%= produto.fornecedor %></td>
        <td><%= produto.marca %></td>
        <td><%= produto.unidade %></td>
        <td><%= link_to 'Mostrar', produto %></td>
        <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
        <td><%= link_to 'Apagar', produto, method: :delete, data: { confirm: "Você tem certeza que quer apagar?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Produto', new_produto_path %>
