<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_produto.tipo %>

  <% @produtos = @tipo.produtos %>
  <% @produtos.each do |e| %>
  <%= e.nome %>
  <% end %>
</p>

<%= link_to 'Edit', edit_tipo_produto_path(@tipo_produto) %> |
<%= link_to 'Back', tipo_produtos_path %>
