

    
</div>

<%= simple_form_for(@venda) do |f| %>
<%= f.input :data, :as => :hidden, :input_html => { :value => Time.now } %>
<%= f.association :produtos %>
  <%= f.error_notification %>

  <div class="form-actions">
    <%= f.button :submit, "Cadastrar venda", :produtos => @produtos %>
  </div>
<% end %>

