<div class="modal fade" id="produto">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Selecionar Produto </h4>
      </div>
      <div class="well">
      <table class="table">
        <tr>
          <td> Nome </td>
          <td> Descrição</td>
          <td> Preço Unit. </td>
          <td> Quantidade em Estoque </td>
          <td> Selecionar </td>
        </tr>
      <% @produtos_busca.each do |p| %>
            <tr>
              <td> <%= p.nome %></td>
              <td> <%= p.descricao %></td>
              <td> <%= p.precoVenda %></td>
              <td> <%= p.quantidade %></td>
              <td> <%= link_to new_venda_path,:produtos=> @produtos, :produto=> p %> </td>
            </tr>
          <% end %>
      </table>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->