<div class="modal fade" id="produto">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Selecionar Produto </h4>
      </div>
      <div class="well">
<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Preco Venda</th>
      <th>Quantidade Fisica</th>
      <th>Cor</th>
      <th>Tamanho</th>
      <th>Quantidade Estoque</th>
      <th>Selecionar</th>

    </tr>
  </thead>

  <tbody>
    <% @produtos_busca.each do |produto| %>
      <tr>
        <td><%= produto.modelo %></td>
        <td><%= produto.precoVenda %></td>
        <td><%= produto.quant_fisica %></td>
        <td><%= produto.cor %></td>
        <td><%= produto.quanti_estoque %></td>
        <td><%= produto.unidade %></td>
        <td> <%= link_to new_venda_path,:produtos=> @produtos, :produto=> produto.id %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
              

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->