<p id="notice"><%= notice %></p>

<p>
  <strong>Data: </strong>
  <%= @venda.data %>
</p>

<p>
  <strong>Valortotal: </strong>
  <%= @venda.valorTotal %>
</p>

<p>
	<strong> Funcionario: </strong>
	<%= Funcionario.find(@venda.funcionario_id).nome %>
</p>

<p>
<strong>Produtos</strong>
	<table class="table table-hover">
		<thead>
			<tr>
				<th> Código </th>
				<th> Produto </th>
				<th> Valor </th>
			</tr>
		</thead>
		<tbody>

		<% @produtos_venda.each do |p|%>
			<tr>
				<% produto = Produto.find(p.produto_id) %>
				<td> <%= produto.id %> </td>
				<td> <%= produto.modelo %> </td>
				<td> <%= p.valorUnit %> </td>
			</tr>
		<% end %>

		<tr>
		<td></td>
		<td style= "text-align: right;"><strong> Valor Total </strong></td>
		<td> <%= @venda.valorTotal %> </td>
		</tr>
	</tbody>
</p>
</table>


<%= link_to 'Back', vendas_path %>
