<!DOCTYPE html>
<html>
<head>
  <title>SisconOtica</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body style="background: url(<%=asset_path 'images/bg.png'%>);">
<div class="corpo">
    <div class="top" >
      <% if funcionario_signed_in? %>
      <%= link_to "Produtos", :produtos %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if funcionario_signed_in? %>
      <%= link_to "Logout", destroy_funcionario_session_path, method: 'delete', class: "blog-nav-item pull-right" %>
      <%= link_to current_funcionario.email, edit_funcionario_registration_path(current_funcionario), class: "blog-nav-item pull-right" %>
      <% else %>
      <%= link_to "Register", new_funcionario_registration_path, class: "blog-nav-item pull-right" %>
      <%= link_to "Login", new_funcionario_session_path, class: "blog-nav-item pull-right" %>
      <% end %>

    </div>
    <div class="leftprojeto">
    </div>

    <div class="rightprojeto">
      <%= yield %>
    </div>
  </div>
  <% else %>
  <%= yield %>
  <%end%>
</body>
</html>
